@use 'sass:color';
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

.accordion-button.collapsed {
  background: tint(black, 90%);
}
//
//.accordion-button[aria-expanded="true"] {
//  background: tint(orangered, 40%);
//}

// Base Divider class
.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em -1em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.double-razor {
  &:before,
  &:after {
    height: 3px;
    box-shadow: // Chrome
            0 -0.5px 0 black,
            0 0.5px 0 black;
    // border: solid black; // Safari
    border-width: 0;
  }
}

$primary: #11998e;
$secondary: #38ef7d;
$white: black;
$gray: #9b9b9b;
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


//$bg: tint(red, 20%);
//$fg: tint($bg, 60%);
//$bg: #2f3435;
$bg: #2370da;
$fg: lighten($bg,20%);
$borderWidth: 3px;

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.cloudLabel {
  color: lighten($bg,10%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten($bg,60%);
  background: $fg;
}

.cloudLabel + input[type=radio] + .cloudLabel {
  border-left: solid $borderWidth $fg;
}
.radio-group-container {
  display: flex;
  justify-content: center;
}
.radio-group {
  border: solid $borderWidth $fg;
  //display: flex;
  //justify-content: center;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}
//
//@import url('https://fonts.googleapis.com/css?family=Roboto');
